body {
  margin: 0;
}


.main-content {
  min-height: 100vh;
  display: flex;
      justify-content: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/explore.jpg");
  background-size: cover;
  
}

form {
  width: 80%;
}

h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 60px;
  font-weight: 400;
  text-align: center;
}


.inner-form {
  background: rgba(127, 151, 141, 0.5);
  padding: 16px;
  display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  width: 100%;
      justify-content: space-between;
      align-items: center;
}


input {
  height: 70px;
  background: #fff;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 20px 10px 45px;
  font-size: 16px;
  color: rgb(230, 222, 222);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}



.input-field {
  color: #f8f0f0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0px 10px 0px;
}


.first, .second, .third, .fourth, .fifth {
  flex-grow: 1;
}

.fifth .btn-search {
  height: 70px;
  width: 100%;
  background:rgb(36, 32, 32);
  font-size: 20px;
  color: #fff;
  border: 0;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.fifth .btn-search:hover {
  background: rgba(255, 136, 0, 0.932);
}

.card .col {
  margin-bottom: 2%;
}


.activity-card {
  border: 1px solid black;
}
.card-header {
  font-weight: bold;
}


.card-img-top {
  height: 30%;
  width: auto;
}

.card-content {
  padding: 1em;
  font-weight: 400;
}

#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}

.btn-info {
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn-info:hover {
  color: #fff;
  background: rgba(255, 136, 0, 0.932);
  border-color: rgba(255, 136, 0, 0.932);;
}